<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

  <hr>
  <p><a href="/about">About this site</a> <a href='/'>Home</a></p>

  </body>
</html>
